statemachine/usageSummary.asl.json
{
    "Comment": "A state machine that gets de summary of DXC API ClaroBR usage.",
    "StartAt": "Getting requests from a day",
    "States": {
        "Getting requests from a day": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "Getting requests from a day (test)",
                    "States": {
                        "Getting requests from a day (test)": {
                            "Type": "Task",
                            "Resource": "${RetrieveEventsFunctionArn}",
                            "Parameters": {
                                "platform": "${PlatformTestParameter}",
                                "source": "${SourceTestParameter}"
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.TaskFailed"
                                    ],
                                    "IntervalSeconds": 300,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 1.5
                                }
                            ],
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Getting requests from a day (stage)",
                    "States": {
                        "Getting requests from a day (stage)": {
                            "Type": "Task",
                            "Resource": "${RetrieveEventsFunctionArn}",
                            "Parameters": {
                                "platform": "${PlatformStageParameter}",
                                "source": "${SourceStageParameter}"
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.TaskFailed"
                                    ],
                                    "IntervalSeconds": 300,
                                    "MaxAttempts": 5,
                                    "BackoffRate": 1.5
                                }
                            ],
                            "End": true
                        }
                    }
                }
            ],
            "Next": "Map Results"
        },
        "Map Results": {
            "Type": "Map",
            "MaxConcurrency": 0,
            "Iterator": {
                "StartAt": "Record Transaction",
                "States": {
                    "Record Transaction": {
                        "Type": "Task",
                        "Resource": "${DDBPutItem}",
                        "Parameters": {
                            "TableName": "${DDBTable}",
                            "Item": {
                                "date": {
                                    "S.$": "$.usageSummary.date"
                                },
                                "platform": {
                                    "S.$": "$.usageSummary.platform"
                                },
                                "requests": {
                                    "N.$": "$.usageSummary.requests"
                                },
                                "others": {
                                    "N.$": "$.usageSummary.others"
                                },                    
                                "availabilty": {
                                    "N.$": "$.usageSummary.availability"
                                },
                                "endpoints": {
                                    "M.$": "$.usageSummary.endpoints"
                                }
                            }
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.TaskFailed"
                                ],
                                "IntervalSeconds": 20,
                                "MaxAttempts": 5,
                                "BackoffRate": 10
                            }
                        ],
                        "End": true
                    }
                }
            },
            "ResultPath": null,
            "Next": "Is the first weekday or first day of the month?"
        },        
        "Is the first weekday or first day of the month?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Or": [
                        {
                            "Variable": "$[0].dayOfWeek",
                            "StringEquals": "Monday"
                        },
                        {
                            "Variable": "$[0].dayOfMonth",
                            "NumericEquals": 1
                        }
                    ],
                "Next": "Generate usage report"                
                }
            ],
            "Default": "Finish"
        },
        "Generate usage report": {
            "Type": "Task",
            "Resource": "${UsageReportFunctionArn}",
            "Next": "Send message to SNS"
        },
        "Send message to SNS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "${UsageSummaryTopic}",
                "Message": {
                    "Input": "$.result"
                }
            },
            "Next": "Finish"
        },
        "Finish": {
            "Type": "Pass",
            "ResultPath": "$.result",
            "End": true
        }
    }
}